<html>
<head>
    <meta charset="utf-8">
    <title>Add</title>
</head>
<body>

<H4>Add</H4>


{% if status_code %}

    {% if status_code == 1 %}
        fill data
    {% else %}
        save fail
    {% end %}

{% end %}


<form method="post">
    <table border="1">
        <tr>
            <td>EN</td>
            <td><input type="text" name="title_en" required>
        </tr>
        <tr>
            <td>ES</td>
            <td><input type="text" name="title_es" required>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>
