<html>
<head>
    <meta charset="utf-8">
    <title>List</title>
</head>
<body>

    <H4>List</H4> <a href="dictionary/add">Add</a><br/>

<table width="100%" border="1">
    <tr>
        <td>EN</td>
        <td>ES</td>
    </tr>
    {% for x in queryset %}
    <tr>
        <td>{{ x.title_en }}</td>
        <td>{{ x.title_es }}</td>
    </tr>
    {% end %}
</table>

</body>
</html>
